
<div class="row">
  <div class="section">
  <h5 style="margin: 10px; padding: 6px; background: #536DFE; color: white; border-radius: 30px;text-align: center;font-size: 16px;" >
    Activar sensores para la planta: <span id="plantId" style="font-weight: bold;">{{date}}</span> del dispositivo <span style="font-weight: bold;" id="UserMac">{{MAC}}</span>  </h5>
  <p>  Estatus :  <span id="PlantOn" style="padding: 5px;background: red;border-radius: 100px;color: white;"> Offline </span> </p>
  
    <div class="row">
      <div class="col m6 s12">

        <div class="row">
          <div class="input-field col s12">
            <label style="margin:10px 0;" >Umbral maximo de riego: <strong id="valueSpanWater"></strong></label>
            <div id="waterU"></div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Led start" id="led_start" value="0" name="led_start" type="number" class="validate">
            <label for="led_start">Led start</label>
          </div>
          <div class="input-field col s6">
            <input placeholder="Led end" id="led_end" value="0" name="led_end" type="number" class="validate">
            <label for="led_end">Led end</label>
          </div>
          <div class="col s12">
            <p>
              <label>
                <input type="checkbox" id="checkbox"/>
                <span>Usar esta configuracion</span>
              </label>
            </p> 
          </div>
        </div>
        <div class="row ">
          <div class="col s4">
              <a style="font-size: 11px;" class="btn btn-primary" onclick="setSocket_water()"  href="#" >Activar agua</a>
          </div>
          <div class="col s4">
              <a style="font-size: 11px;" class="btn btn-primary" onclick="setSocket_light(1)"  href="#" >Activar luz</a>
          </div>
          <div class="col s4">
              <a style="font-size: 11px;" class="btn btn-primary" onclick="setSocket_light(0)"  href="#" >Apagar luz</a>
          </div>
        </div>
      </div>
      <div class="col m6 s12">
        <div class="row">
            <div class="input-field col s12">
                <div id="colorpicker">
                  <div class="sliders" id="red"></div>
                  <div class="sliders" id="green"></div>
                  <div class="sliders" id="blue"></div>
                  <div id="result"></div>
                  
                  <p style="width: 150px; float: right;margin-top: -40px;">
                    R:<span id="rValue"></span>% G:<span id="gValue"></span>% B:<span id="bValue"></span>%
                  </p> 
                </div> 
            </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row" style="text-align: center;">
    <a href="/my-plants" class="btn btn-primary">Cancel</a>

  </div>
</div>
<script src="/js/nouislider.js"></script>
<script>
  const umbralLux = ["Sin luz", "poca luz", "en sombra", "Luz directa"];
  const umbralWater = ["Seco", "Poco Humedo", "Humedo", "Encharcado"];
  let socket; // Aun no se inicializa el socket.io

  
  /* --------------------------------------------------
  *              Water Umbral
  * --------------------------------------------------*/
  var waterU = document.getElementById('waterU');
  noUiSlider.create(waterU, {
      start: [1],
      connect: 'lower',
      step: 1,
      range: {
          'min': [0],
          'max': [3]
      }
  });
  /* --------------------------------------------------
  *              Light  Umbral
  * --------------------------------------------------*/
  /*
  var lightH = document.getElementById('lightH');
  noUiSlider.create(lightH, {
      start: [1],
      connect: 'lower',
      step: 1,
      range: {
          'min': [0],
          'max': [24]
      }
  });
  */
  /* --------------------------------------------------
  *              Color
  * --------------------------------------------------*/
  var resultElement = document.getElementById('result');
  var sliders = document.getElementsByClassName('sliders');
  var colors = [0, 0, 0];
  var red = document.getElementById('rValue'),
      blue = document.getElementById('gValue'),
      gren = document.getElementById('bValue');

  [].slice.call(sliders).forEach(function (slider, index) {

      noUiSlider.create(slider, {
          start: 127,
          connect: [true, false],
          orientation: "vertical",
          range: {
              'min': 0,
              'max': 255
          },
          format: {   
              from: function(value) {
              return parseInt(value);
          },
              to: function(value) {
              return parseInt(value);
          }}
      });
      // Bind the color changing function to the update event.
      slider.noUiSlider.on('update', function () {

          colors[index] = slider.noUiSlider.get();

          var color = 'rgb(' + colors.join(',') + ')';

          resultElement.style.background = color;
          resultElement.style.color = color;

          rValue.innerHTML = Math.round((colors[0]/255)*100);
          gValue.innerHTML = Math.round((colors[1]/255)*100);
          bValue.innerHTML = Math.round((colors[2]/255)*100);

      });
  });

  const valueSliderWater = document.getElementById("waterU");
  //const valueSliderLux = document.getElementById("lightH");
  let valueSpanWater = document.getElementById('valueSpanWater');
  //let valueSpanLux = document.getElementById('valueSpanLux');

  /* --------------------------------------------------
  *              emitters
  * --------------------------------------------------*/
  var userMac = document.getElementById("UserMac").innerHTML; 

  function setSocket_water()
  {
    console.log("Enviando setSocket_water");
    socket.emit('action/setData', {
      MAC: userMac, 
      payload:
      { 
        action:"water",
        mode: document.getElementById("checkbox").checked ? 1:0,
        plantId: document.getElementById("plantId").innerHTML,
        limit: parseInt(valueSliderWater.noUiSlider.get(),10)
      }
    });
  }
  
  function setSocket_light(mode)
  {
    console.log("Enviando eventemitter");
    socket.emit('action/setData', {
      MAC: userMac,
      payload:{
        action:"light",
        mode: document.getElementById("checkbox").checked ? 2 : mode,
        plantId: document.getElementById("plantId").innerHTML,
        ledStart: document.getElementById("led_start").valueAsNumber,
        ledEnd: document.getElementById("led_end").valueAsNumber,
        red : colors[0],
        green : colors[1],
        blue : colors[2]
      }
    });
  }

  /* --------------------------------------------------
  *              Main
  * --------------------------------------------------*/
  $( document ).ready(function() {

    socket = io(); //Inicializamos los sockets
    socket.emit('user/connect', { MAC: userMac });

    // Socket que escucha las peticiones de recepcion de datos
    socket.on(`action/user`, (Data)=>{
      document.getElementById("PlantOn").innerHTML = Data;
      document.getElementById("PlantOn").style.background =  Data == "online" ? "green": "red";
    });

     // Socket que escucha los posibles errores 
    socket.on(`action/response`, (Data)=>{
      var element = document.getElementById("div-errors");
      element.innerHTML += `<div onclick="notificationDelete(this)" class="right alert show showAlert">
        <span class="fas fa-exclamation-circle"></span>
        <span class="msg">${Data.text}</span>
        <div  class="close-btn">
          <i class="material-icons">X</i>
        </div>
      </div>`;
    });




    valueSpanWater.textContent = `${umbralWater[1]}`;
    //valueSpanLux.textContent = `1 horas diarias`;
    
    /*
    document.getElementById("waterU_link").addEventListener('click',function(e){
      e.preventDefault();
      window.location.href = `${document.getElementById("waterU_link").href}/${parseInt(valueSliderWater.noUiSlider.get(),10)}`;
    });
    
    document.getElementById("lightH_link").addEventListener('click',function(e){
      e.preventDefault();
      const url = document.getElementById("lightH_link").href;
      const hours = parseInt(valueSliderLux.noUiSlider.get(),10);
      const red = colors[0];
      const green = colors[1];
      const blue = colors[2];
      window.location.href = `${url}/${hours}/${red}/${green}/${blue}`;
    });

    valueSliderLux.noUiSlider.on('change.one', (values) => {
        valueSpanLux.textContent = `Activar por ${parseInt(values[0],10)} horas`;
    });
    */
    valueSliderWater.noUiSlider.on('change.one', (values) => {
        valueSpanWater.textContent = `${umbralWater[parseInt(values[0],10)]}`;
    });

  });
</script>
