
<div class="row">
<h1>Bienvenido a tu coleccion de plantas</h1>
<a href="/new-plant">Agregar una nueva planta</a>
  {{#each notes}}
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-between align-items-center">
          {{title}}
        </h4>
        <p>{{ description }} </p>
      </div>
    </div>
  </div>
  {{/each}}
</div>