#chart_lengend ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#chart_lengend ul li {
  display: inline; 
}

#chart_lengend ul li span {
  display: inline-block;
  width: 15px;
  height: 15px;
}


