.scan2,
.scan1{
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 100%;
    transform: rotateX(70deg);
    animation: spin 10s ease infinite;
}
.scan1{
    box-shadow:inset -1px 10px 100px yellow;
    z-index: 0;
    bottom: -20px;
}
.scan2{

    z-index: 2;
    box-shadow: inset -5px -30px 20px yellow;
}
.plant{
    width: 150px;
    height: 200px;
    position: relative;
    margin: 0 auto;
}
.sheet {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 120px;
    z-index: 1;
}

.soil1{
    position: absolute;
    top: 94px;
    left: 5px;
    width: 60%;
    display: none;
    z-index: 1;
}
.soil2{
    position: absolute;
    top: 98px;
    width:80%;
    display:none;
    z-index: 1;
}
.soil3{
    position: absolute;
    top: 87px;
    left: 10px;
    width: 100px;
    display: block;
    z-index: 1;
}

@keyframes spin {

    0% { 
        top:-70px;
    } 
    50% {
        top: 80px
    }
    100%{
        top:-70px; 
    }
}