.scan2,
.scan1{
    width: 100%;
    height: 150px;
    position: absolute;
    border-radius: 100%;
    transform: rotateX(70deg);
    animation: scan_1 10s ease infinite;
}
.scan1{
    box-shadow:inset -1px 10px 100px yellow;
    z-index: 0;
}
.scan2{
    z-index: 2;
    box-shadow: inset -5px -30px 20px yellow;
}
.plant{
    max-width: 150px;
    height: 150px;
    position: relative;
    margin: 0 auto;
    text-align: center;
}
.sheet {
    position: absolute;
    top: 35px;
    left: 13px;
    width: 80%;
    z-index: 1;
}

@media (min-width: 600px) {
    .scan2,
    .scan1{
        width: 100%;
        animation: scan_2 10s ease infinite;
    }
}


@keyframes scan_2 {

    0% { 
        top:-50px;
    } 
    50% {
        top: 85px
    }
    100%{
        top:-50px; 
    }
}

@keyframes scan_1 {

    0% { 
        top:-50px;
    } 
    50% {
        top: 50px
    }
    100%{
        top:-50px; 
    }
}