<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Smart Garden</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>     
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <link rel="stylesheet" href="/css/nouislider.css">
    <link rel="stylesheet" href="/css/notification.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/plantEdit.css">
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>

    {{>navigation}}
    <div id="div-errors">
        {{> messages}}
        {{> errors}}
    </div>
    <div class="container">
        {{{ body }}}
    </div>
    
    <p>Footer</p>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>
    function notificationDelete(id){
      id.className = "alert hide showAlert";
    }
      
    window.onload = function() {
        $(".button-collapse").sideNav();
    };
</script>

</body>
</html>