        <footer class="page-footer blue-grey darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s9">
                <h5 class="white-text">Acerca de GardenApp</h5>
                <p class="grey-text text-lighten-4">plataforma web para la edición, creación y seguimiento de plantas de GardenApp.</p>
              </div>
              <div class="col l4 offset-l2 s3">
                <h5 class="white-text">Enlaces</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/oqueber">Github</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://oqueber.github.io/">Portafolio</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>