
{{#if success_msg }}
  <div onclick="notificationDelete(this)" class="alert show showAlert">
      <span class="fas fa-exclamation-circle"></span>
      <span class="msg">{{success_msg}}</span>
      <div  class="close-btn">
        <i class="material-icons">cancel</i>
      </div>
  </div>
{{/if}}

{{#if error_msg }}
  <div onclick="notificationDelete(this)" class="alert show showAlert">
      <span class="fas fa-exclamation-circle"></span>
      <span class="msg">{{error_msg}}</span>
      <div  class="close-btn">
         <i class="material-icons">cancel</i>
      </div>
  </div>
{{/if}}