<nav>
  <div class="nav-wrapper blue-grey darken-4">
    <a href="/" class="brand-logo">GardenApp</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Inicio</a></li>
      {{#if user}}
        <li><a href="/chart">Métricas</a></li>
        <li><a href="/my-plants">Plantas</a></li>
        <li><a href="/users/Edit">Configuración</a></li>
        <li><a href="/users/logout">Cerrar sesión</a></li>
      {{else}}
        <li><a href="/users/Login">Iniciar sesión</a></li>
        <li><a href="/users/signup">Registrase</a></li>
      {{/if}}
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  {{#if user}}
    <li><a href="/chart">Métricas</a></li>
    <li><a href="/my-plants">Plantas</a></li>
    <li><a href="/users/Edit">Configuración</a></li>
    <li><a href="/users/logout">Cerrar sesión</a></li>
  {{else}}
    <li><a href="/">Inicio</a></li>
    <li><a href="/users/Login">Iniciar sesión</a></li>
    <li><a href="/users/signup">Registrase</a></li>
  {{/if}}
</ul>