<nav>
  <div class="nav-wrapper blue-grey darken-4">
    <a href="/" class="brand-logo">GardenApp</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      {{#if user}}
        <li><a href="/chart">Chart</a></li>
        <li><a href="/my-plants">My plants</a></li>
        <li><a href="/users/Edit">Setting</a></li>
        <li><a href="/users/logout">Logout</a></li>
      {{else}}
        <li><a href="/users/Login">Login</a></li>
        <li><a href="/users/signup">Sign up</a></li>
      {{/if}}
    </ul>
    <ul class="side-nav" id="mobile-demo">
      {{#if user}}
        <li><a href="/chart">Chart</a></li>
        <li><a href="/my-plants">My plants</a></li>
        <li><a href="/users/Edit">Setting</a></li>
        <li><a href="/users/logout">Logout</a></li>
      {{else}}
        <li><a href="/users/Login">Login</a></li>
        <li><a href="/users/signup">Sign up</a></li>
      {{/if}}
    </ul>
  </div>
</nav>