<div class="container">
  <form action="/users/login-user" method="POST">
    <div  style="height:90vh" class="valign-wrapper"> 
      <div style="margin: 0 auto;width: 500px;text-align: center;"class="row">
        <div class="input-field col s12" style="z-index: 2;float: left;">
          <input class="validate" type="email" name="email">
          <label style="z-index: 1;float: left;" for="email">Correo electronico</label>
        </div>
        <div class="input-field col s12">
          <input class="validate" type="password" name="password" style="z-index: 2;float: left;">
          <label style="z-index: 1;float: left;" for="password">Contraseña</label>
        </div>
        <div class="input-field col s12">
          <button class="btn waves-effect waves-light" type="submit">Enviar
            <i class="material-icons right">assignment_ind</i>
          </button>
        </div>
      </div>  
    </div>
  </form>
</div>

