<form class="col s12" action="/users/login-user" method="POST">
  <div class="row">
    <div class="input-field col s12">
      <input class="validate" type="email" name="email">
      <label for="email">Email address</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input class="validate" type="password" name="password">
      <label for="password">Password</label>
    </div>
  </div>
  
  <button class="btn waves-effect waves-light" type="submit">Submit
    <i class="material-icons right">assignment_ind</i>
  </button>
</form>