
  <div class="carousel carousel-slider center">
    <div class="carousel-item red white-text" href="#one!">
      <img src="/img/home_1.png" alt="">
    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <img src="/img/home_2.png" alt="">
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <img src="/img/home_3.png" alt="">
    </div>
    <div class="carousel-item blue white-text" href="#four!">
       <img src="/img/home_4.png" alt="">
    </div>
    <div class="carousel-item white blue-text" href="#five!">
      <div class="valign-wrapper" style="height: 100%;">
        <div class="row" style="margin: 0 auto;width: 500px;text-align: center;">
          <h2>¡Animate!</h2>
          <a href="/users/Login" class="waves-effect waves-light btn">Acceder</a>
          <a href="/users/signup" class="waves-effect waves-light btn">Registrarse</a>
        </div>
      </div>
    </div>
  </div>
